* {
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background-color: #0e0e0e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    background-color: #121212;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 20px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile-info h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 16px;
    font-weight: 500;
    color: #999;
}

.profile-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.profile-section {
    margin-bottom: 20px;
}

.profile-section h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.profile-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.profile-section li {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.profile-section li::before {
    content: "\2022";
    font-size: 18px;
    color: #999;
    margin-right: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 90%;
        padding: 20px;
        /* Add padding for mobile */
    }

    .profile-header {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        margin: 0 auto 20px;
    }

    .profile-info {
        align-items: center;
    }

    .profile-body {
        padding: 10px;
    }

    .profile-section {
        margin-bottom: 10px;
    }
}